<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/weapon">Weapons</a>
        <a href="/customer">Customer</a>
        <a href="/orders">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Customer</h1>

    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
        <tr>
            <td>
                <table cellspacing="3" border="0">
                    <tr bgcolor="#ffffff">
                        <th>Name</th>
                        <th>Address</th>
                        <th>Customer ID</th>
                        <th>Action</th>
                    </tr>
                    {% for r in rows%}
                    <tr bgcolor="#ffffff">
                        <td>{{ r.0 }}</td>
                        <td>{{ r[1] }}</td>
                        <td>{{ r[2] }}</td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    <h2 align="center">Add Customer</h2>
    <form id="addcustomer" action="/customer" method="POST" align="center">
        name: <input type="text" name="name"><br>
        address: <input type="text" name="address"><br>
        customer_ID: <input type="text" name="customer_ID"><br>
        <input type="submit" value="Submit">
    </form>

    <h3 align="center">Update Customer</h3>
    <div class="form" align="center">
        <label>Name:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Address:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Customer ID:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>

</body>
</html>