<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/weapon">Weapons</a>
        <a href="/customer">Customer</a>
        <a href="/orders">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Customer</h1>

        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
            <tr>
                <td>
                    <form id="displaycustomers" method="GET" action="{{ url_for('customer_results') }}">
                    <table cellspacing="3" border="0">
                        <tr bgcolor="#ffffff"> <!--First row of the database table-->
                            <th>Name</th>
                            <th>Address</th>
                            <th>Customer ID</th>
                            <th>Action</th>
                        </tr>
                        {% for r in rows%}  <!--Code for every subsequent row with delete functionality-->
                        <tr bgcolor="#ffffff">
                            <td>{{ r.0 }}</td>
                            <td>{{ r[1] }}</td>
                            <td>{{ r[2] }}</td>
                            <td><input type="button" name="Delete" value="Delete" onclick="window.location = '/customer_delete/{{r[4]}}'"></td>
                        </tr>
                        {% endfor %}
                    </table>
                    </form>
                </td>
            </tr>
        </table>

        <!--Add Customer Prompt-->
    <h2 align="center">Add Customer</h2>
    <form id="addcustomer" method="POST" align="center">
        Name: <input type="text" name="name"><br>
        Address: <input type="text" name="address"><br>
        <input type="submit" value="Submit">
    </form>
        <!--Update Customer Prompt-->
    <h2 align="center">Update Customer</h2>
    <form id="updatecustomer" method="POST" align="center">
        Name: <input type="text" name="name" value=""><br>
        Address: <input type="text" name="address" value=""><br>
        customer_ID: <input type="text" name="customer_ID" value=""><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>