<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/product">Product</a>
        <a href="/customer">Customer</a>
        <a href="/order">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Order</h1>

    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
        <tr>
            <td>
                <table cellspacing="3" border="0">
                    <tr bgcolor="#ffffff">
                        <th>Order ID</th>
                        <th>Customer ID</th>
                        <th>Weapon ID</th>
                        <th>Currency</th>
                        <th>Order Date</th>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</body>
</html>