<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/weapon">Weapons</a>
        <a href="/customer">Customer</a>
        <a href="/orders">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Order</h1>

    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
        <tr>
            <td>
                <table cellspacing="3" border="0">
                    <tr bgcolor="#ffffff">
                        <th>Order ID</th>
                        <th>Customer ID</th>
                        <th>Weapon ID</th>
                        <th>Currency</th>
                        <th>Order Date</th>
                        <th>Action</th>
                    </tr>
                    {% for r in rows%}
                    <tr bgcolor="#ffffff">
                        <td>{{ r.0 }}</td>
                        <td>{{ r[1] }}</td>
                        <td>{{ r[2] }}</td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

   <h2 align="center">Add New Order</h2>
    <div class="form" align="center">
        <label>Order ID</label>
        <input type="text" value="" readonly>
        <br>
        <label>Customer ID</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon ID:</label>
        <input type="text" value="" readonly>
        <br>
        <br>
        <label>Currency:</label>
        <input type="text" value="" readonly>
        <br>
        <br>
        <label>Order Date:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>

    <h3 align="center">Update an Order</h3>
    <div class="form" align="center">
        <label>Order ID</label>
        <input type="text" value="" readonly>
        <br>
        <label>Customer ID</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon ID:</label>
        <input type="text" value="" readonly>
        <br>
        <br>
        <label>Currency:</label>
        <input type="text" value="" readonly>
        <br>
        <br>
        <label>Order Date:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>


</body>
</html>