<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/weapon">Weapons</a>
        <a href="/customer">Customer</a>
        <a href="/order">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Stock</h1>

    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
        <tr>
            <td>
                <table cellspacing="3" border="0">
                    <tr bgcolor="#ffffff">
                        <th>Total Number of Items</th>
                        <th>Number of Items Available</th>
                        <th>Weapon ID</th>
                        <th>Weapon Type</th>
                        <th>Action</th>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <h2 align="center">Add Stock</h2>
    <div class="form" align="center">
        <label>Total Number of Items:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Number of Items Available:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon ID:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon Type:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>

    <h3 align="center">Update Stock</h3>
    <div class="form" align="center">
        <label>Total Number of Items:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Number of Items Available:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon ID:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon Type:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>

</body>
</html>