<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/weapon">Weapons</a>
        <a href="/customer">Customer</a>
        <a href="/orders">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Stock</h1>

    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
        <tr>
            <td>
                <table cellspacing="3" border="0">
                    <tr bgcolor="#ffffff">
                        <th>Total Number of Items</th>
                        <th>Number of Items Available</th>
                        <th>Weapon ID</th>
                        <th>Weapon Type</th>
                        <th>Action</th>
                    </tr>
                    {% for r in rows%}
                    <tr bgcolor="#ffffff">
                        <td>{{ r.0 }}</td>
                        <td>{{ r[1] }}</td>
                        <td>{{ r[2] }}</td>
                        <td>{{ r[3] }}</td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    <h2 align="center">Add Stock</h2>
    <form id="addstock" method="POST" align="center">
        Number of Items Available: <input type="text" name="number_of_items_available"><br>
        Total Number of Items: <input type="text" name="total_number_of_items"><br>
        Weapon ID: <input type="text" name="weapon_ID"><br>
        Weapon Type: <input type="text" name="weapon_type"><br>
        <input type="submit" value="Submit">
    </form>

    <h3 align="center">Update Stock</h3>
    <div class="form" align="center">
        <label>Total Number of Items:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Number of Items Available:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon ID:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon Type:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>

</body>
</html>