<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weapon</title>
</head>
<body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/weapon">Weapons</a>
        <a href="/customer">Customer</a>
        <a href="/orders">Order</a>
        <a href="/stock">Stock</a>
      </div>
    </div>
    <h1 align="center">Weapons</h1>
    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
        <tr>
            <td>
                <table cellspacing="3" border="0">
                    <tr bgcolor="#ffffff">
                        <th>Weapon_ID</th>
                        <th>Order_ID</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tr bgcolor="#ffffff">
                        {% for r in rows %}
                        <td>{{ r[0] }}</td>
                        <td>{{ r[1] }}</td>
                        <td>{{ r[2] }}</td>
                        <td><button type="button">Delete</button></td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>

   <h2 align="center">Add Weapon</h2>
    <form id="addweapon" method="POST" align="center" action="url_for('weapon_result')">
        Order ID: <input type="text" name="order_ID"><br>
        Price: <input type="text" name="price"><br>
        Weapon ID: <input type="text" name="weapon_ID"><br>
        <input type="submit" value="Submit">
    </form>

<h3 align="center">Update Weapon</h3>
    <div class="form" align="center">
        <label>Order ID:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Price:</label>
        <input type="text" value="" readonly>
        <br>
        <label>Weapon ID:</label>
        <input type="text" value="" readonly>
        <br>
        <input type = "submit" value="Submit">
    </div>

</body>

</html>